.item-layer{
  width: 80%;
  left: 10%;
  bottom:-50%;
 text-align: center;
  background-color: white;
  transition: all 1s;

}
.item{
  cursor: pointer;
  overflow: hidden;
}
.item:hover .item-layer{
  bottom: 20px;
}
.lightcontainer{
  background-color: rgba(0, 0, 0, 0.64);
}
.box-item{
  width: 700px;
  height: 500px;
  background-image: url(../images/portfolio-1.jpg);
  background-size: 100% 100%;
  background-position: center center;
}
.fa-circle-xmark{
  top:10px;
  right:10px;
}
i{
  margin: 15px;
  cursor: pointer;
}